.fielo-organization-account,
.fielo-form-view {
  .fielo-field__value {
    color: #949494;
    border-bottom: 1px solid $label-color;
    padding-bottom: 5px;
    font-size: 16px;
    margin-top: 0;
    width: 100%;
    a {
      color: $grey-color;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.fielo-form,
.fielo-form-view {
  width: 100%;
  margin-bottom: 30px;
  .fielo-field {
    @include leftFlex;
    @include middleFlex;
    margin: 10px 0px;
    .fielo-field__label {
      width: auto;
      margin: 0px;
      text-align: right;
      margin-right: 20px;
      min-width: 190px;
      color: $title-color;
      font-family: SalesforceSans-Regular;
      font-size: 17px;
      font-weight: 300;
    }

    .fielo-field__value {
      max-width: 550px;
      width: 100%;
      margin: 0px;
      padding: 0px;
      border: none;
      color: $title-color;
      font-family: SalesforceSans-Regular;
      font-size: 17px;
      font-weight: 300;
    }
  }
  &.fielo-form {
    .fielo-field {
      .fielo-field__value {
        input {
          width: 100%;
          padding: 10px 40px 10px 10px;
          color: $title-color;
          font-size: 17px;
          text-align: left;
        }
      }
    }
  }
}
