.fieloplt-redemption-detail{
	margin-bottom: 20px;
	.fielo-field__label{
	    font-size: 15px;
	    color: #a9a2a2;
	    text-transform: uppercase;
	    margin-left: 0;
	}	
	.fielo-field__value{
	    display: block;
	    width: 100%;
	    border-bottom: 1px solid;
	    color: #4c4c4c;
	    font-family: SalesforceSans-Regular;
	    font-size: 18px;
	    margin-left: 0;
	    font-weight: 300;
	    margin-top: 0;
	}
}