.fielo-table {
  margin-bottom: 20px;
  border: none;
  .fielo-field {
    text-align: left;
    display: table;
    border: none;
    font-size: 16px;
    color: $primary-color;
    &:first-of-type,
    &:last-of-type {
      padding: 10px;
    }
  }

  .fielo-record-set__data {
    .fielo-record {
      &:nth-child(odd) {
        background-color: $record-bg-color;
      }
      &:nth-child(even) {
        background: #f5f5f5;
      }
    }

    .fielo-field {
      vertical-align: middle;
    }
  }
}

.fielo-table__head {
  background: #6b6968;
  color: #fff;
  .fielo-field {
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    font-family: "SalesforceSans-Light";
    text-transform: lowercase;
    font-weight: 300;
  }
}


// table stacked
.fielo-table {
  tbody .fielo-field,
  .fielo-field__value {
    border-spacing: 10px 0;
    border-collapse: separate;
  }
  tbody .fielo-field {
    padding-left: 10px;
  }
}

.fielo-table tbody .fielo-field:before {
  content: attr(data-th);
  display: table-row;
  text-transform: uppercase;
  color: #a9a9a9;
}

@media #{$bp-mobile-3} {
  .fielo-table {
    .fielo-field {
      text-align: left;
      display: table-cell;
      padding: 10px;
    }

    tbody .fielo-field,
    .fielo-field__value {
      border-spacing: 0;
      border-collapse: collapse;
    }

    tbody .fielo-field:before {
      display: none;
    }

    .fielo-record-set__data {
      .fielo-record:nth-child(odd) .fielo-field {
        border-right: 1px solid #F2F3F5;
        border: none;
      }
      .fielo-record:nth-child(even) .fielo-field {
        border-right: 1px solid #ECECEC;
        border: none;
      }
    }
  }
}
