// Fielo Buttons
@mixin fieloButton {
  font-size: 1.2em;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 7px 20px;
  margin: 5px 0;
  background-color: #ddd;
  font-family: "SalesforceSans-Regular";
  border: none;
  outline: none;
}

@mixin btnStyle {
  display: inline-block;
  background: #005bd9;
  color: #ffffff !important;
  text-transform: uppercase;
  font-family: "SalesforceSans-Regular";
  font-size: 14px;
  border: none;
  outline: none;
  line-height: 45px;
  margin: 0px;
  &:hover {
    text-decoration: none;
    opacity: 0.8;
    color: #ffffff !important;
  }
}

.fielo-button--is-blue {
  .fielo-link {
    @include btnStyle;
    margin: 0 !important;
    padding: 6px 36px!important
  }
}


.fielo-button {
  @include fieloButton;

  &--safe {
    @include fieloButton;
    background-color: $safeColor;
    color: #FFF;
  }
  &--danger,
  &__cancel {
    @include fieloButton;
    color: #FFF;
    background-color: $dangerColor;
  }
  &:hover {
    text-decoration: none;
    opacity: 0.8;
    color: #ffffff !important;
  }
}

.fielo-button__submit {
  background-color: $safeColor;
  color: #FFF;
}

.fielo-button__edit,
.fielo-button__filter {
  @include btnStyle;
  // background: $link-color;
  // color: #fff;
  border-radius: 0px;
  font-size: 14px;
  padding: 0px 40px;
}

.fielo-button__submit.fielo-button--danger {
  background-color: $dangerColor;
}



.fielo-table {
  .fielo-field--is-ToggleManager,
  .fielo-field--is-BlockUnblock,
  .fielo-field--is-HandleInvitations {
    .fielo-button {
      width: 100%;
    }
  }
}

@media #{$bp-mobile-3} {
  .fielo-table {
    .fielo-field--is-ToggleManager,
    .fielo-field--is-BlockUnblock,
    .fielo-field--is-HandleInvitations {
      text-align: center;

      .fielo-button {
        width: auto;
      }
    }
  }
}
