

.copyright {
  font-family: "Helvetica";
  font-size: 13px;
}

.banner-home-guest {
  margin: 0px;
  >div {
    margin: 0px;

    .fielo-field__label {
      display: none
    }
    .fielo-field__value {
      margin: 0px;
    }
  }
}

.fielo-content {
  font-family: "SalesforceSans-Light";
  font-size: 15px;
  color: $grey-color;
  a {
    @include btnStyle;
    padding: 4px 20px;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .fielo-title {
    border: none;
    margin-bottom: 3px;
  }
}

// logo
.powered-by .sfdc_richtext {
  background-image: url(../images/powered-by.png);
  background-position-x: 80px;
  background-repeat: no-repeat;
  margin-top: 2px;
}