// E-Learning

.cms-elr-module-list-action,
.cms-elr-list-action .fielo-grid {
	.fielo-title {
		margin: 0;
	}
	.fielo-record {
	  border-bottom: 1px solid #000;
  	padding-bottom: 26px;
  	padding-top: 20px;
	}
	.fielo-field--is-ViewImage {
		float: left;
	}
	.fielo-field--is-Name {
	  text-transform: uppercase;
	  font-size: 18px;
	  margin: 0;
	  padding: 0;
	  color:#005bd9;
		.fielo-link {
			color:#005bd9;
		}
	}
	.fielo-table__head .fielo-field {
		color: #ffffff;
		text-transform: lowercase;
	}
	.fielo-field--is-FieloELR__Description__c {
		font-size: 18px;
	}
}


.cms-elr-module-list-action {
	width: 100%;
	margin: 0 auto;
	.fielo-record-set__data {
		border-top: 1px solid #000;
		margin-top: 40px;
	}
	.fielo-record {
  	padding: 15px 0;
  	margin: 0;
	}
	.fielo-field--is-ExternalDescription__c {
		font-size: 17px;
		padding: 0;
		text-align: justify;
	}
}
.cms-elr-form-action--course {
	text-align: left;
	margin-top: 50px;
	.cms-elr-record-action{
		@include btnStyle;
	  border-radius: 0;
	  padding: 10px 86px;
	  font-size: 18px;
	}
}

/* QUIZ */
.cms-elr-quiz{
	#cms-elr-question-text{
		font-size: 20px;
    	font-weight: 500;
	}
	.cms-elr-answers-container{
		margin-top: 10px;
    	margin-bottom: 20px;
    	.cms-elr-multiplechoice-answer{
    		padding-left: 0;
    		.cms-elr-multiplechoice-answer__item{
    			padding-bottom: 5px;
    		}
    	}
    	.cms-elr-singlechoice-answer{
    		padding-left: 0;
    		.cms-elr-singlechoice-answer__item{
    			padding-bottom: 5px;
    		}
    	}
    	.cms-elr-shortanswer-answer{
    		padding-left: 0;
    	}

	}	
}