// E-Learning
.cms-elr-category-filter.cms-elr-list-progress.cms-elr-list-action .fielo-grid {
	.fielo-field--is-ViewImage {
		float: left;
	}
	.fielo-field--is-Name {
		text-transform: uppercase;
		.fielo-link {
			color:#005bd9;
		}

	}
	.fielo-field--is-FieloELR__Description__c {

	}
}