@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: ( eot: "?",
  svg: "#" + str-replace($name, " ", "_"));

  $formats: ( otf: "opentype",
  ttf: "truetype");

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

@include font-face("SalesforceSans-Bold",
"../fonts/SalesforceSans-Bold",
400);
@include font-face("SalesforceSans-Regular",
"../fonts/SalesforceSans-Regular",
400);
@include font-face("SalesforceSans-Light",
"../fonts/SalesforceSans-Light",
100);

// Breakpoints for mobile 
$bp-mobile-1:"(min-width: 320px)";
$bp-mobile-2:"(min-width: 360px)";
$bp-mobile-3:"(min-width: 400px)";
$bp-mobile-4:"(min-width: 480px)";
$bp-mobile-5:"(min-width: 600px)";
// Breakpoints for tablet
$bp-tablet-1:"(min-width: 720px)";
$bp-tablet-2:"(min-width: 840px)";
$bp-tablet-3:"(min-width: 960px)";
// Breakpoints for desktop
$bp-desktop-1:"(min-width: 1024px)";
$bp-desktop-2:"(min-width: 1280px)";
$bp-desktop-3:"(min-width: 1824px)";
$bp-desktop-4:"(min-width: 2048px)";
// THEME
$header-footerBGColor: #7e7e7e;
$header-footerFONTColor: #fff;
//Header
$headerBGColor: #fff;
$headerFONTColor: #6b6968;
//Footer
$footerBGColor: #7e7e7e;
$footerFONTColor: #fff;
// Buttons colors
$safeColor: #005bd9;;
$dangerColor: #E31D1A;
// Font colors
$title-color: #4a4a4a;
$label-color: #767676;
$value-color: #474747;
$link-color: #005bd9;
$primary-color: #5e5e5e;
$grey-color: #95989a;
$record-bg-color: #ddd;
$border-color: #6e6e6e;

// MIXINS
// Shopping cart Icon
@mixin cartIcon {
  background-image: url(../images/cart.svg);
  background-repeat: no-repeat;
  padding-left: 34px;
  background-size: 50px;
  background-position: -4px;
}

//fielo titles
@mixin fieloTitle {
  color: $title-color;
  font-family: SalesforceSans-Regular;
  font-size: 29px;
  border-bottom: 1px solid $border-color;
  padding-bottom: 15px;
  margin: 0px 0px 25px 0px;
  ;
  font-weight: 300;
  width: 100%;
}

@mixin flexFlex {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

@mixin centerFlex {
  @include flexFlex;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}

@mixin middleFlex {
  @include flexFlex;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}

@mixin bottomFlex {
  @include flexFlex;
  -ms-align-items: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

@mixin leftFlex {
  @include flexFlex;
  -ms-justify-content: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

@mixin rightFlex {
  @include flexFlex;
  -ms-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

@mixin betweenFlex {
  @include flexFlex;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

@mixin aroundFlex {
  @include flexFlex;
  -ms-justify-content: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
