/*
 * Reglas para dispositivos Desktop
 */



@import 'tablet';

body {
  font-family: 'Open Sans', Verdana, sans-serif;
  background: #f2f2f2;
  main {
    width: 100%;
    max-width: 1040px;
    position: relative;
    margin: auto;
    padding: 50px 20px;
  }
}


@media #{$bp-desktop-1} {}

@media #{$bp-desktop-2} {}

@media #{$bp-desktop-3} {}

@media #{$bp-desktop-4} {}
