// Breakpoints and stuff
@import '_variables';
@import '_utils';


// Importa vistas
@import 'mobile/views/_component';
@import 'mobile/views/_modal';
@import 'mobile/views/_header';
@import 'mobile/views/_footer';
@import 'mobile/views/_table';
@import 'mobile/views/_grid';
@import 'mobile/views/_forms';
@import 'mobile/views/_slider';
@import 'mobile/views/_acordeon';

// Importa Componentes
@import 'mobile/components/_buttons';
@import 'mobile/components/_shoppingCart';
@import 'mobile/components/_catalog';
@import 'mobile/components/_addToCart';
@import 'mobile/components/_contentFeed';
@import 'mobile/components/_filter';
@import 'mobile/components/_navigationDetail';
@import 'mobile/components/_login';
@import 'mobile/components/_paginator';
@import 'mobile/components/_register';
@import 'mobile/components/_content';

.fielo-menu .fielo-list__item.active {
	background: none;
	font-weight: bold;
	color: #005bd9;
}

.fielo-header,
.fielo-footer {
  width: 100%;
  max-width: 100%;
}

.fielo-header,
.fielo-footer {
  &>.fielo-row {
    width: 100%;
    max-width: 1280px;
    position: relative;
    margin: auto;
    padding: 0px 20px;
  }
}

.home-guest {
  body {
    background: #fff;
    main {
      padding: 0px;
    }
  }
  .fielo-main {
    max-width: 100%;
    >.fielo-row {
      width: 100%;
      max-width: 1280px;
      position: relative;
      margin: auto;
      padding: 0px 20px;
      >div {
        max-width: 864px;
        &.banner-home-guest {
          max-width: 100%;
        }
      }
    }
  }
}


// Invoice Upload
.cms-prp-invoice-form {
	.fielo-title {
		border:none;
		margin-bottom: 0;
  	padding: 0;
	}
}
.cms-prp-section-header__left {
	font-size: 24px;
	width: 200px;
}

.cms-prp-invoice-fieldset {
	.fielo-field {
		float: left;
	  margin-right: 50px;
	  width: 44%;
	  height: 70px;
	  margin-bottom: 0px;
	}
}

.cms-prp-lookup-button__icon {
	background-color: #6b6968;
  position: relative;
  left: -50px;
  border-radius: 0;
  height: 39px;
  top: 4px;
}

.cms-prp-invoice-items,
.cms-prp-multifileuploader,
.cms-prp-lookup-search__model {
	.fielo-field {
		display: table-cell;
	}
	.fielo-input {
		width: 92% !important;
	}
	.fielo-field--is-FieloPRP__Product__c {
		width: 6%;
	}
	.cms-prp-section-header  .fielo-button {
		background: #005bd9;
		color: #fff;
  	margin-left: 10px;
	}
}
.cms-prp-invoice-items {
  margin-top: 40px;
}
.cms-prp-lookup-search__model .fielo-button {
	background: #005bd9;
	color: #fff;
}

@media #{$bp-mobile-1} {}

@media #{$bp-mobile-2} {}

@media #{$bp-mobile-3} {}

@media #{$bp-mobile-4} {}

@media #{$bp-mobile-5} {}
